html,
body {
  padding: 0;
  margin: 0;
  font-family: Prompt;
  overflow-x: hidden;
  padding-right: 0 !important;
  /* height: 100vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media screen and (min-width: 992px) {
  .modal-content {
    border-radius: 0px !important;
    padding: 0px 0px;
    border: 0px;
    background: #000 !important;
  }

  .modal-body {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0px !important;
  }

  .paddingContainer {
    padding: 0px 36px 0px 64px !important;
  }

  .gap-menu {
    gap: 20px !important;
  }

  .ContainRight {
    justify-content: right;
    display: flex;
  }

  .App-logo {
    max-height: 44px;
    margin-left: 0px;
    cursor: pointer !important;
  }

  .size-menu {
    gap: 28px !important;
    padding: 20px 20px 20px 20px !important;
  }

  .scrollModal::-webkit-scrollbar {
    width: 2px;
  }

  .scrollModal::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .scrollModal::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .scrollModal::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #lingo-mobile {
    display: none;
  }

  #lingo-desktop {
    border-radius: '5px' !important;
    margin-top: 3px !important;
  }
}

@media screen and (max-width: 992px) {
  .modal-carrer-mobile .modal-content {
    border-radius: 0px !important;
    padding: 0px 0px;
    border: 0px;
    background: #000 !important;
    position: fixed !important;
    height: 85% !important;
    bottom: 0;
  }

  .modal-policy .modal-content {
    border-radius: 0px !important;
    border: 0px;
    background: #000 !important;
    position: fixed !important;
    height: auto !important;
    left: 0 !important;
    bottom: 0 !important;
  }

  .modal-gameMobile .modal-content {
    border-radius: 0px !important;
    border: 0px;
    background: #000 !important;
    position: fixed !important;
    top: 25% !important;
    bottom: 25% !important;
  }

  .App-logo {
    max-height: 44px;
    margin-left: 0px;
    cursor: pointer !important;
  }

  #lingo-desktop {
    display: none;
  }

  #lingo-mobile {
    border-radius: '5px';
    margin-top: 3px !important;
    margin-right: 5px !important;
  }

  .size-menu {
    gap: 20px !important;
    padding: 20px 20px 20px 20px !important;
  }

  body.modal-open {
    overflow-y: hidden !important;
    position: fixed;
  }

  .modal-body {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0px !important;
    overflow-y: scroll;
  }
}



@font-face {
  font-family: "PromptBold";
  src: url('/assets/fonts/Prompt/Prompt-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "PromptMedium";
  src: url('/assets/fonts/Prompt/Prompt-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: "Prompt";
  src: url('/assets/fonts/Prompt/Prompt-Regular.ttf');
  font-weight: 300 400 500 600 700 900;
}

@font-face {
  font-family: "SpaceAge";
  src: url('/assets/fonts/Space_age/space-age.ttf');
  font-weight: 400;
  font-style: normal;
}

.kep-login-facebook{
  color: #FFFFFF;
  font-family: 'Prompt' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  border: none !important;
  width: 100% !important;
  height: 48px !important;
  text-transform: none !important;
  padding: 0px !important;
}

.endcontainer {
  display: flex;
  width: 100%;
  align-self: flex-end;
  justify-content: center;
  padding-bottom: 55px;
}

.game-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 36px;
  width: 226px;
  height: 64px;
  background: #FF5100;
  color: #FFFFFF;
  font-family: 'Prompt';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  border: none;
}

.text-menu {
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #1A1A1A !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 92px;
  padding: 20px 43px 35px 35px;
}

.textpolicy {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #FFFFFF !important;
  text-decoration: none !important;
}


td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-right: 20px;
}

.containerSport {
  height: 964px;
  background: #000;
}

.backgroundDark {
  background: #000;
}



.backgroundJoinUs {
  align-items: center;
  background-color: #1A1A1A;
}

.myCentreAlign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-content: 'space-around';
}


.containerbeyond_us {
  height: 837px;
  background: url(/assets/beyond/beyond_us.svg) no-repeat;
}

.containerbeyond_th {
  height: 837px;
  background: url(/assets/beyond/beyond_th.svg) no-repeat;
}

.containerbeyond_cn {
  height: 837px;
  background: url(/assets/beyond/beyond_cn.svg) no-repeat;
}

.containerbeyondMobile_us {
  height: 837px;
  background: url(/assets/beyond/beyondMobile_us.svg) no-repeat;
}

.containerbeyondMobile_th {
  height: 837px;
  background: url(/assets/beyond/beyondMobile_th.svg) no-repeat;
}

.containerbeyondMobile_cn {
  height: 837px;
  background: url(/assets/beyond/beyondMobile_cn.svg) no-repeat;
}



.text_pointer {
  cursor: pointer;
}

.content-left {
  justify-content: center;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;

  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb( 26, 26, 26)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* .modal-content {
  border-radius: 0px !important;
  padding: 0px 0px;
  border: 0px;
  background: #000 !important;
} */

@media (min-width: 576px) {
  .modal-policy {
    --bs-modal-width: 556px !important;
  }

  .modal-dialog {
    position: fixed;
    bottom: 0;
  }
}

.modal-carrer {
  --bs-modal-width: 913px !important;
}

.modal-carrer-mobile {
  --bs-modal-width: 100% !important;
  margin: 32px 0px !important;
  padding-left: 0px !important;
  height: 650px !important;
}

.modal {
  padding-left: 0px !important;
  /* overflow-y: hidden  !important; */
}

.modal-header {
  font-family: 'PromptBold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 20px;
}

.modal-title {
  width: 100% !important;
}

.btnClose {
  cursor: pointer;
}

.fade .modal .show {
  padding-left: 0px !important;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #FF5100 !important;
}

.css-t752vm {
  background-color: #FF5100 !important;
}

input[type="checkbox"] {
  /* ...existing styles */
  -ms-transform: scale(1.25);
  /* IE */
  -moz-transform: scale(1.25);
  /* FF */
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);

  accent-color: #FF5100 !important;
}

input[type="search"]::-webkit-search-cancel-button {
  margin-left: 30px;
  -webkit-appearance: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  right: 17px;
  position: relative;
  background:
    linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(135deg, transparent 0%, transparent 43%, #fff 45%, #fff 55%, transparent 57%, transparent 100%);
}

.scrollModal {
  overflow-y: auto;
  height: 100%;
}


.noFixedBtns {
  width: 100%;
  z-index: 2;
}

.fixedBtns {
  width: 100%;
  position: fixed;
  bottom: 45px !important;
  z-index: 2;
}

input::placeholder {
  color: #FFFFFF;
}

input-webkit-autofill {
  color: #FFFFFF !important;
  background: #4D4D4D !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}


.wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container2 {
  display: flex;
  justify-content: space-between;
  /* position: sticky;
  top: 0; */
  width: 100%;
}
.container2 .left {
  position: sticky;
  z-index: 1;
  background: white;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container2 img {
  width: 45vw;
}
.container2 > div {
  height: 100%;
  width: 45vw;
}
.container2 .in-in-middle {
  height: 100vh;
}
