.textLabel {
    font-family: 'Prompt';
    font-style: normal;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 15px;
    display: initial;
}

.btnPolicy {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: #FF5100;
    color: #FFFFFF;
}

.background_dark {
    background: #000 !important;
}

.modal-content {
    width: 50%;
    margin: 0 auto;
    background: #000 !important;
}

.background2 {
    background: url(/assets/career.png) no-repeat;
    background-size: 100% 100%;
}

.textJoinUs {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    padding-left: 0px !important;
    padding-top: 86px !important;
    padding-right: 64px !important;
    padding-bottom: 36px !important;
    text-align: right;
    color: #FFFFFF;
}

.textJoinUsMobile {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: 'space-around';
    height: 100%;
}

.btnCarrer {
    font-family: 'PromptMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    width: 210px !important;
    height: 64px;
    background: #FFFFFF;
    color: #FF5100;
    border: none;
}

.btnCarrerMobile {
    font-family: 'PromptMedium';
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 44px;
    background: #FFFFFF;
    color: #FF5100;
    border: none;
}

.careerPolicy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}


.career1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 442px;
    height: 100%;
}


.btnFill {
    width: 100%;
    border-width: 0px;
    border: none;
    height: 48px;
    padding-left: 16px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF !important;
    background: #4D4D4D;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.btnOrange {
    background: #FF5100;
    color: #FFFFFF;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: 0.5px solid #FF5100;

    width: 101px;
    height: 48px;
    padding: 12px 16px;
}

.btnPrevious {
    color: #FF5100;
    background: #FFFFFF;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: 0.5px solid #E6E6E6;
    width: 131px;
    height: 48px;
    padding: 12px 16px;
}

.fileUpload {
    cursor: pointer;
    border: 1px dashed #E6E6E6;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
}

.line {
    border-top: 0.5px solid #DEE2E4;
    padding-bottom: 5px;
    width: 100%;
}

.career2 {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 442px;
    height: 100%;
}

.headerTitle {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}

.buttonIn {
    position: relative;
}

.buttonClare {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 2px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
}

.career3 {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
}

.career3_active {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 81, 0, 0.6);
    ;
    z-index: 1;
}

.career3_blur {
    font-family: 'PromptBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    padding-left: 15px;
    bottom: 0px;
    z-index: 2;
    background: rgba(26, 26, 26, 0.6);
    backdrop-filter: blur(10px);
}

.career5BtnChoice {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 158px;
    height: 84px;
    background: #1A1A1A;
    padding: 10px !important;
}

.gapBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.question {
    font-family: 'PromptBold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    word-wrap:break-word;
    padding-bottom: 28px;
}

.career5_active {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 81, 0, 0.6);
    z-index: 1;
}

.career6BtnChoice {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 241.5px;
    height: 84px;
    padding: 10px !important;
    font-family: 'PromptBold';
}

.career6BtnChoiceMobile {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 74px;
    padding: 10px !important;
    margin-bottom: 8px;
    font-family: 'PromptBold';
}

.career18BtnChoice {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 74px;
    padding: 10px !important;
    margin-bottom: 8px;
    font-family: 'PromptBold';
}

.career18BtnChoiceMobile {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-weight: 600;
    height: 74px;
    padding: 10px !important;
    margin-bottom: 8px;
    font-family: 'PromptBold';
}

