.textTitle {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF5100;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 151px;
}

.text {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    color: #FF5100;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 151px;
    flex-direction: 'column';
    align-Items: 'flex-start';
}

.button_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.button_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.title_activity {
    width: 266px;
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;

    color: #FF5100;
    text-shadow: 0px 16px 80px rgba(255, 255, 255, 0.24);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_activity {
    width: 372px;
    padding-top: 32px !important;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FF854C;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.pic_title {
    width: 272px;
    padding-top: 36px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #E6E6E6;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.pic_text {
    width: 422px;    
    padding-top: 8px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #CCCCCC;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.scrollbar {
    height: 800px;
    overflow-y: scroll !important;
    background: url(/assets/events/backgroud_event.svg) no-repeat;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
    padding-right: 63px !important;
    background-color: #333333;
}

.scrollbar::-webkit-scrollbar-thumb {
    width: 6px !important;
    background-color: #4D4D4D;
    border-radius: 10px;
}

