.background_white {
    background: #fff !important;
    height: 599px;
}

.background_mobile {
    background: #fff !important;
    min-height: 599px;
}

.background_hide {
    flex: none;
    margin-left: 0px !important;
}

.textScore {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1A1A1A;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 26px;
}

.textSeemore {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FF5100;
    cursor: pointer;
}

.content::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
}

.tableScore {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    vertical-align: middle !important;
    white-space: nowrap;
}

.textOrange {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF5100 !important;
    display: inline-block;
}

.textLogIn {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.textLabel {
    font-family: 'Prompt';
    font-style: normal;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 15px;
    display: initial;
}


.numberCircle {
    border-radius: 50%;
    padding-top: 6px;
    width: 36px;
    height: 36px;
    background: #1A1A1A !important;
    color: #fff;
    text-align: center;
}


.numberCircleOrange {
    border-radius: 50%;
    padding-top: 6px;
    width: 36px;
    height: 36px;
    background: #FF5100 !important;
    color: #fff;
    text-align: center;
}


.containerGame {
    display: flex;
    background-size: 100% 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: #000 !important;
    cursor: pointer;
}

.containerRelative { 
    position: relative;
  }
  

.middle {
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.backgroundBanner {
    display: flex;
    background-size: 100% 100% !important;
    height: 599px;
    background: url(/assets/bannerPC.jpg) no-repeat;
}

.backgroundBannerMobile {
    display: flex;
    background-size: 100% 100% !important;
    min-height: 600px !important;
    background: url(/assets/bannerMobile.jpg)
}


.containerLogin {
    display: flex;
    overflow: hidden;
    background-size: 100% 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 599 !important;
}


.slidingBackground {
    background: url(/assets/orangeWave.svg), #000 repeat-x;
    width: 2151px;
    animation: slide 10s linear infinite;
    background-size: 100% 100%;
    background-repeat: repeat;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-717px, 0, 0);
    }
}

.iconUser {
    width: 100%;
    height: 48px;
    padding-left: 52px;
    background: url(/assets/icons/iUser.png) no-repeat scroll 14px 14px, #4D4D4D;
    background-size: 20px;
    border: hidden;
    margin-bottom: 24px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF !important;
}

.iconUser::placeholder {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.iconMail {
    width: 100%;
    height: 48px;
    padding-left: 52px;
    background: url(/assets/icons/iEmail.png) no-repeat scroll 14px 14px, #4D4D4D;
    background-size: 20px;
    border: hidden;
    margin-bottom: 24px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF !important;
}

.iconMail::placeholder {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.btnEmail {
    background: #FF5100;
    color: #FFFFFF;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    width: 100%;
    height: 48px;
    margin-top: 24px !important;
}

.btnFacebook {
    background: #2D609B;
    color: #FFFFFF;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    width: 100%;
    height: 48px;
}

.animatedBackground {
    align-items: center;
    background: url(/assets/HeartBeat.gif), #000;
    height: 599px !important;
    padding: 0px !important;
    margin: 0px !important;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    /* animation: animatedBackground 50s linear infinite; */
}

.animatedBackgroundMobile {
    align-items: center;
    background: url(/assets/HeartBeat.gif), #000;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /* animation: animatedBackground 50s linear infinite; */
}


@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 10000px 0;
    }
}

.line {
    margin-top: 28px;
    border-top: 0.5px solid #DEE2E4;
    margin-bottom: 28px;
}

.textFaceBook {
    color: #FFFFFF;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
}

.ImgFaceBook {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalScreen {
    height: 100%;
}

.textHeader {
    font-family: 'PromptMedium';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}


.slider {
    margin-top: 68px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    pointer-events: inherit;
    padding-bottom: 60px;
}

.slider.close {
    top: 95%;
    height: 0;
}

/* .Fixed
{
    position: fixed;
    bottom: 20px;
} */

.video_container video {
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.caption {
    z-index: 1;
    position: relative;
    text-align: center;
}