html,
body {
  padding: 0;
  margin: 0;
  font-family: Prompt;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}


@media screen and (min-width: 992px) {
  .gap-menu {
    gap: 20px !important;
  }
  .ContainRight {
    justify-content: right;
    display: flex;
  }
  .App-logo {
    max-height: 44px;
    margin-left: 0px ;
  }
}

@media screen and (min-width: 992px) {
  .App-logo {
    max-height: 44px;
    margin-left: 52px;
  }
}



@font-face {
  font-family: "PromptBold";
  src: url('/assets/fonts/Prompt/Prompt-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "PromptMedium";
  src: url('/assets/fonts/Prompt/Prompt-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: "PromptLight";
  src: url('/assets/fonts/Prompt/Prompt-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpaceAge";
  src: url('/assets/fonts/Space_age/space-age.ttf');
  font-weight: 400;
  font-style: normal;
}

.game-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 36px;
  gap: 16px;
  position: absolute;
  width: 226px;
  height: 64px;
  left: 429px;
  top: 471px;
  background: #FF5100;
  border: none;
  font-family: 'PromptMedium';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}




.text_title {
  font-family: 'PromptLight';
  margin-bottom: 36px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #B3B3B3;
}


.text {
  font-family: 'PromptLight';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFF;
}

.text-menu {
  font-family: 'PromptMedium';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #1A1A1A !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 92px;
  padding: 20px 43px 35px 35px;
}

.containerGame {
  /* width: 74% !important; */
  max-width: 1000 px;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/gameBackground.jpg) no-repeat;
  background-size: 100% 100%;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  min-height: 599px;
}

.containerScore {
  font-family: 'SpaceAge';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1A1A1A;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.containerSport {
  height: 964px;
  background: #000;
}

.backgroundDark {
  background: #000;
}

.background2 {
  height: 400px;
  background: url(/assets/banner_new2.png) no-repeat;
  background-size: 100% 100%;
}

.backgroundJoinUs {
  height: 400px;
  background-color: #1A1A1A;
}


.textJoinUs {
  font-family: 'SpaceAge';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  padding-left: 0px !important;
  padding-top: 86px !important;
  padding-right: 64px !important;
  padding-bottom: 36px !important;
  text-align: right;
  color: #FFFFFF;
}

.carrer-button {
  font-family: 'PromptMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  width: 210px !important;
  height: 64px;
  background: #FFFFFF;
  color: #FF5100;
  border: none;
}

.myCentreAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}



.containerbeyond {
  height: 837px;
  background: url(/assets/Frame-3.png) no-repeat;
}

.text_pointer {
  cursor: pointer;
}

.content-left {
  justify-content: center;
}