.OurPartner {
    box-sizing: border-box;
    background: url(/assets/partner/OurPartner.svg) no-repeat;
    background-clip: padding-box;
}


.partner_1 {
    box-sizing: border-box;
    height: 300px;
    background: url(/assets/partner/Plantoys.svg) no-repeat;
    background-clip: padding-box;
}

.partner_2 {
    box-sizing: border-box;
    height: 300px;
    background: url(/assets/partner/Berg.svg) no-repeat;
    background-clip: padding-box;
}

.partner_3 {
    box-sizing: border-box;
    height: 300px;
    background: url(/assets/partner/Thaifight.svg) no-repeat;
    background-clip: padding-box;
}



.line {
    margin-top: 30px;
    border-top: 0.5px solid #DEE2E4;
    margin: 12px;
}

.content {
    padding-top: 48px !important;
}

.text_title {
    font-family: 'Prompt';
    margin-bottom: 36px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #B3B3B3;
    margin: 12px;
    padding-top: 36px !important;
}

.text {
    margin: 12px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFF;
}


.textMap {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 12px;
}


.showmap {
    min-height: 519px;
}

.btnGoTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 36px;
    gap: 16px;
    width: 100px;
    height: 64px;
    background: #FFFFFF;
    animation-duration: 3s;
    animation-name: slidein;
}



@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}