.OurPartner {
    box-sizing: border-box;
    display: flex;
    align-items: center !important;
    padding: 0px !important;
    justify-content: center;
}

.line {
    margin-top: 28px;
    border-top: 0.5px solid #DEE2E4;
    margin: 12px;
}

.contantLine {
    margin-top: 28px;
    margin: 12px;
}

.text_title {
    font-family: 'Prompt';
    margin-bottom: 36px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #B3B3B3;
    margin: 12px;
}

.text {
    margin: 12px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFF;
}


.textMap {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 12px;

}


.showmap {
    min-height: 519px;
}

.boxRelative {
    position:relative;
}

.btnGoTop {
    position:absolute;
    bottom:0;
    right:0;
    width: 100px;
    height: 64px;
    font-size: 34px;
    overflow: hidden;
    color: #FF5100;
    background: #FFFFFF;
}

.textParner {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    padding-left: 0px !important;
    padding-top: 86px !important;
    padding-bottom: 36px !important;
    text-align: right;
    color: #FFFFFF;
}

.textParnerMobile {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding-left: 0px !important;
    padding-top: 28px !important;
    text-align: center;
    color: #FFFFFF;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}