.AppContent {
    background-color: #000;
    overflow: auto;
    height: auto;
}

.footer {
    display: flex;
    flex: 1;
    background: #000;
    justify-content: center;
    align-items: center;
}

.text_title {
    width: 534px;
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_titleMobile {
    width: 343px;
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text {
    width: 426px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #E6E6E6;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.textMobile {
    width: 323px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #E6E6E6;

}

.text_q  {
    width: 1090px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    padding-bottom: 0px !important;
}


.text_aws {
    width: 1090px;
    padding-bottom: 20px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #CCCCCC;
    flex: none;
    order: 1;
    flex-grow: 0;
}


