.AppContent {
    background-color: #000;
    overflow: auto;
    height: auto;
}

.footer {
    display: flex;
    flex: 1;
    background: #000;
    justify-content: center;
    align-items: center;
}

.scrollbar {
    height: 800px;
    overflow-y: scroll;
}

.scrollbarMoblie {
    overflow-y: hidden;
}


.scrollbar::-webkit-scrollbar {
    width: 4px;
    padding-right: 63px !important;
    background-color: #333333;
}

.scrollbar::-webkit-scrollbar-thumb {
    width: 6px !important;
    background-color: #4D4D4D;
    border-radius: 10px;
}

.title {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    padding-bottom: 206px;
    text-shadow: 0px 16px 80px rgba(255, 255, 255, 0.24);
}

.title_food {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    padding-bottom: 36px;
    text-shadow: 0px 16px 80px rgba(255, 255, 255, 0.24);
}

.title_foodMobile {    
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;    
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.title_modal {
    width: 341px;    
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;    
    
    color: #FFFFFF;
    
}

.text {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 1070px !important;

    color: #FFFFFF;
}

.titleMoblie {
    font-family: 'SpaceAge';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    padding-bottom: 24px;
    text-shadow: 0px 16px 80px rgba(255, 255, 255, 0.24);
}

.textMoblie {
    width: 253px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 152px;
    color: #CCCCCC;
}

.image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.image_item {
    display: flex !important;
    justify-content: center;
}

.image_size {
    height: 200px;
}

.centeredSlider .slick-list {
    display: flex;
    justify-content: center;
}